@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.movie-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.movie-card {
  width: 180px;
  height: 280px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.movie-card .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.movie-card:hover .movie-info {
  transform: translateY(0);
}

.movie-info h2 {
  font-size: 1rem;
  font-weight: 400;
}

.movie-info p {
  font-size: 0.875rem;
  font-weight: 300;
}

.movie-info .rating {
  background-color: #e50914;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pagination button {
  background-color: #e50914;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #b20710;
}